header{
    text-align: center;
}

body{
    max-width: 940px;
    min-width: 720px;
    margin: 10px auto 10px auto;
}

hr{
    border: double;
}

i{
    font-size: 16px;
    vertical-align: middle
}

.Row1Col1 {
    float: left;
    font-size: 16px;
    text-indent: 20px;
    font-weight: bold
}

.Row1Col2 {
    float: right;
    font-size: 16px;
}

.Row2Col1 {
    float: left;
    font-size: 16px;
    text-indent: 20px;
    font-weight: bold
}

.Row2Col2 {
    float: right;
    font-size: 16px;
}
