/*基本設定*/
@import url(http://fonts.googleapis.com/earlyaccess/notosanskannada.css);

*{
    font-size: 16px;
    letter-spacing: 2px;
    font-family: 'Noto Sans Kannada',sans-serif, serif;
    background-color:white
}

/*網頁表頭設計*/
/*
.header{
    background-color: cornflowerblue;
    font-size: 50px
}
*/

.featured-image{
    max-width: 940px;
    min-width: 720px;
    margin: 10px auto 10px auto;
    background-image: url(../images/food_BG4.jpg);
    background-repeat: no-repeat;
    height: 385px;
}

h1{
    max-width: 940px;
    min-width: 720px;
    margin: 10px auto 10px auto;
    color: #CE2817;
    font-size: 1.5em
}

h2{
    color: #CE2817;
    font-size: 1.2em;
    font-weight: bold
}

article{
    max-width: 940px;
    min-width: 720px;
    margin: 10px auto 10px auto;
    color: #CE2817;
}

/*
nav ul>li{
    list-style-type: none;
    list-style-position: inside;
    display:inline-block;
}
*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
    
}

li a {
    display: block;
    color: darkgray;
    text-align: center;
    padding: 5px 8px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: antiquewhite;
}

.active {
    background-color: beige;
    
}
